{% set active = 1 %}

{% extends "base.html" %}

{% block content %}
	<form class="form-vertical" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						Add missing data
					</div>
					<div class="panel-body">
						<h3>
							{% if palyazo %}	{# nfu: tender #}
								{{palyazo}}
							{% else %}			{# kozbesz: buyer / seller #}
								{{name}}
							{% endif %}
						</h3>
						<dl class="dl-horizontal">
							{% if zip_code %}
								<dt>ZIP</dt>
								<dd>{{zip_code}}</dd>
							{% endif %}

							{% if street %}
								<dt>Street</dt>
								<dd>{{ street }}</dd>
							{% endif %}

							{% if city %}
								<dt>City</dt>
								<dd>{{city}}</dd>
							{% endif %}

							{% if county %}
								<dt>County</dt>
								<dd>{{county}}</dd>
							{% endif %}

							{% if region %}
								<dt>Region</dt>
								<dd>{{region}}</dd>
							{% endif %}

							{% if internet_address %}
								<dt>Internet Address</dt>
								<dd><a href="http://{{internet_address}}" targe="_new">{{internet_address}}</a></dd>
							{% endif %}

							<dt>Tax number</dt>
							<dd><input class="form-control" type="text" name="taxnr" placeholder="Tax Number"></dd>

							<dt>Org ID</dt>
							<dd><input class="form-control" type="text" name="orgid" placeholder="Org ID"></dd>
						</dl>
					</div>
					<div class="panel-footer">
						<button class="btn btn-primary" type="submit" name="submit">
							<span class="glyphicon glyphicon-edit"></span>
							Next ({{count-1}} remaining) &raquo;
						</button>
					</div>
				</div>
				<p><strong>Hint:</strong> you can continue editing this XML later, just remember the time when you uploaded it, and select the appropriate button on the <a href="/">welcome page</a>.</p>
			</div>
		</div>
	</form>


{% endblock %}
